2_les_briques_de_base_d_un_programme/2.2_le_rectangle_dort
2_les_briques_de_base_d_un_programme/2.3_calcul_aire
2_les_briques_de_base_d_un_programme/2.4_petit_programme_bugue
2_les_briques_de_base_d_un_programme/2.5_age_utilisateur
2_les_briques_de_base_d_un_programme/2.6_resultat_division_et_reste
2_les_briques_de_base_d_un_programme/2.7_artiste_et_sa_toile
3_la_selection/3.2_maximum_de_trois_nombres
3_la_selection/3.3_quadrilateres_et_triangles
3_la_selection/3.4_mariages_bugges
3_la_selection/3.5_mediane
3_la_selection/3.6_calculatrice
3_la_selection/3.7_droites_et_points
4_l_iteration/4.2_diviseurs_positifs
4_l_iteration/4.3_boucle_buguee
4_l_iteration/4.4_somme_et_moyenne
4_l_iteration/4.5_somme_des_n_premiers_naturels
4_l_iteration/4.6_somme_du_cube
4_l_iteration/4.7_somme_des_chiffres
4_l_iteration/4.8_couchsurfing
5_appel_de_fonctions/5.2_somme_des_chiffres_est_premier/main
5_appel_de_fonctions/5.3_somme_des_lettres_des_prenoms/main
5_appel_de_fonctions/5.4_multiples_de/main
5_appel_de_fonctions/5.5_facteurs_premiers
